In [117]:
import pandas as pd
import pandas_datareader.data as web
import datetime
 
start = datetime.datetime(2016,1,1)
end = datetime.date.today()
 
apple = web.DataReader("AAPL", 'morningstar', start, end)

apple.head()

                    Close    High     Low     Open    Volume
Symbol Date
AAPL   2018-02-12  162.71  163.89  157.51  158.500  60819539
       2018-02-13  164.34  164.75  161.65  161.950  32549163
       2018-02-14  167.37  167.54  162.88  163.045  40644933
       2018-02-15  172.99  173.09  169.00  169.790  51147171
       2018-02-16  172.43  174.82  171.77  172.360  40176091

In [88]:
apple.loc[('AAPL', '2018-02-16')]['Close']

172.43

In [89]:
google = web.DataReader('GOOGL', 'morningstar', start, end)

google.loc[('GOOGL', '2018-02-16')]['Close']

1095.5

In [94]:
google.reset_index().head()

  Symbol       Date   Close    High     Low    Open   Volume
0  GOOGL 2016-01-01  778.01  778.01  778.01  778.01        0
1  GOOGL 2016-01-04  759.44  762.20  747.54  762.20  3369068
2  GOOGL 2016-01-05  761.53  769.20  755.65  764.10  2260795
3  GOOGL 2016-01-06  759.33  765.73  748.00  750.37  2410301
4  GOOGL 2016-01-07  741.00  755.31  735.28  746.49  3156563

In [95]:
apple.reset_index().head()

  Symbol       Date   Close     High     Low    Open    Volume
0   AAPL 2016-01-01  105.26  105.260  105.26  105.26         0
1   AAPL 2016-01-04  105.35  105.368  102.00  102.61  67649387
2   AAPL 2016-01-05  102.71  105.850  102.41  105.75  55790992
3   AAPL 2016-01-06  100.70  102.370   99.87  100.56  68457388
4   AAPL 2016-01-07   96.45  100.130   96.43   98.68  81094428

In [118]:
pd.merge(google.reset_index(), apple.reset_index(),
         on=['Date', 'Symbol', 'Close', 'High', 'Low', 'Open', 'Volume'],
         how='outer').set_index(['Date', 'Symbol'])

                    Close      High       Low     Open    Volume
Date       Symbol
2016-01-01 GOOGL   778.01  778.0100  778.0100  778.010         0
2016-01-04 GOOGL   759.44  762.2000  747.5400  762.200   3369068
2016-01-05 GOOGL   761.53  769.2000  755.6500  764.100   2260795
2016-01-06 GOOGL   759.33  765.7300  748.0000  750.370   2410301
2016-01-07 GOOGL   741.00  755.3100  735.2800  746.490   3156563
2016-01-08 GOOGL   730.91  750.1200  728.9201  747.800   2375348
2016-01-11 GOOGL   733.07  735.0800  719.5600  731.950   2544806
2016-01-12 GOOGL   745.34  748.3400  736.4300  740.750   2340753
2016-01-13 GOOGL   719.57  753.0000  716.7800  749.340   2586395
2016-01-14 GOOGL   731.39  739.8900  705.0000  724.440   2777868
2016-01-15 GOOGL   710.49  724.1580  701.5100  709.990   3833751
2016-01-18 GOOGL   710.49  710.4900  710.4900  710.490         0
2016-01-19 GOOGL   719.08  725.3500  709.8500  720.150   2436220
2016-01-20 GOOGL   718.56  726.9500  687.7800  705.900   4122010
2016-01-21 GOOGL   726.67  737.6700  711.1100  720.170   2596916
2016-01-22 GOOGL   745.46  748.5600  740.5000  742.000   2357315
2016-01-25 GOOGL   733.62  752.4600  732.5010  743.840   2267031
2016-01-26 GOOGL   733.79  739.4600  726.9700  735.210   1547049
2016-01-27 GOOGL   717.58  735.8900  713.4500  735.890   2121434
2016-01-28 GOOGL   748.30  751.1600  730.6000  738.190   3105222
2016-01-29 GOOGL   761.35  765.1050  744.2000  748.960   3790395
2016-02-01 GOOGL   770.77  777.5900  761.3800  771.260   5576089
2016-02-02 GOOGL   780.91  810.3500  780.6000  800.500   6792331
2016-02-03 GOOGL   749.38  791.4300  736.2600  786.280   6555731
2016-02-04 GOOGL   730.03  745.2400  722.6001  744.590   5246123
2016-02-05 GOOGL   703.76  726.7200  700.1400  725.500   5477821
2016-02-08 GOOGL   704.16  704.5200  682.0100  687.680   4470514
2016-02-09 GOOGL   701.02  720.9600  688.5000  692.950   4214950
2016-02-10 GOOGL   706.85  723.2200  705.3900  711.790   3015733
2016-02-11 GOOGL   706.36  712.3150  691.1900  696.340   3250206
...                   ...       ...       ...      ...       ...
2018-01-08 AAPL    174.35  175.6100  173.9300  174.350  20567766
2018-01-09 AAPL    174.33  175.0600  173.4100  174.550  21583997
2018-01-10 AAPL    174.29  174.3000  173.0000  173.160  23959895
2018-01-11 AAPL    175.28  175.4886  174.4900  174.590  18667729
2018-01-12 AAPL    177.09  177.3600  175.6500  176.180  25418080
2018-01-15 AAPL    177.09  177.0900  177.0900  177.090         0
2018-01-16 AAPL    176.19  179.3900  176.1400  177.900  29565947
2018-01-17 AAPL    179.10  179.2500  175.0700  176.150  34386836
2018-01-18 AAPL    179.26  180.1000  178.2500  179.370  31193352
2018-01-19 AAPL    178.46  179.5800  177.4100  178.610  32425067
2018-01-22 AAPL    177.00  177.7800  176.6016  177.300  27108551
2018-01-23 AAPL    177.04  179.4400  176.8200  177.300  32689146
2018-01-24 AAPL    174.22  177.3000  173.2000  177.250  51105090
2018-01-25 AAPL    171.11  174.9500  170.5300  174.505  41529004
2018-01-26 AAPL    171.51  172.0000  170.0600  172.000  39143011
2018-01-29 AAPL    167.96  170.1600  167.0700  170.160  50640406
2018-01-30 AAPL    166.97  167.3700  164.7000  165.525  46048185
2018-01-31 AAPL    167.43  168.4417  166.5000  166.870  32478930
2018-02-01 AAPL    167.78  168.6200  166.7600  167.165  47230787
2018-02-02 AAPL    160.50  166.8000  160.1000  166.000  86593825
2018-02-05 AAPL    156.49  163.8800  156.0000  159.100  72738522
2018-02-06 AAPL    163.03  163.7200  154.0000  154.830  68243838
2018-02-07 AAPL    159.54  163.4000  159.0685  163.085  51608580
2018-02-08 AAPL    155.15  161.0000  155.0300  160.290  54390516
2018-02-09 AAPL    156.41  157.8900  150.2400  157.070  70672608
2018-02-12 AAPL    162.71  163.8900  157.5100  158.500  60819539
2018-02-13 AAPL    164.34  164.7500  161.6500  161.950  32549163
2018-02-14 AAPL    167.37  167.5400  162.8800  163.045  40644933
2018-02-15 AAPL    172.99  173.0900  169.0000  169.790  51147171
2018-02-16 AAPL    172.43  174.8200  171.7700  172.360  40176091

[1112 rows x 5 columns]