In [1]:
import pandas as pd
import pandas_datareader as pdr
import datetime
import json

start = datetime.datetime(2018,1,1)
end = datetime.date.today()

f = open("stocks.json" , 'r')
json_data = json.load(f)

Stocks = pd.Series(json_data)
print(Stocks)

stock = pdr.tiingo.TiingoDailyReader(Stocks.index, start, end).read()
stock.head()

BRK-B    [{'date': 20151030, 'num': 20, 'price': 136.797}]
DEO       [{'date': 20141216, 'num': 35, 'price': 112.78}]
GSK       [{'date': 20141201, 'num': 100, 'price': 43.67}]
HDV        [{'date': 20171128, 'num': 117, 'price': 86.6}]
KO        [{'date': 20140307, 'num': 250, 'price': 38.05}]
LMT          [{'date': 20150303, 'num': 22, 'price': 206}]
MO        [{'date': 20140307, 'num': 270, 'price': 36.23}]
PG        [{'date': 20140307, 'num': 120, 'price': 77.99}]
VDC         [{'date': 20151102, 'num': 7, 'price': 129.4}]
WFC      [{'date': 20140723, 'num': 190, 'price': 51.34...
XLP      [{'date': 20160921, 'num': 100, 'price': 53}, ...
dtype: object

                   adjClose   adjHigh  adjLow  adjOpen  adjVolume   close  \
symbol date
BRK-B  2018-01-02    197.22  198.8700  195.96   198.87    4107682  197.22
       2018-01-03    199.79  200.0000  197.00   197.00    3292693  199.79
       2018-01-04    200.69  202.1299  200.01   200.90    3844077  200.69
       2018-01-05    201.42  201.6700  199.31   201.00    4092553  201.42
       2018-01-08    202.74  203.0700  199.80   201.15    3594382  202.74

                   divCash      high     low    open  splitFactor   volume
symbol date
BRK-B  2018-01-02      0.0  198.8700  195.96  198.87          1.0  4107682
       2018-01-03      0.0  200.0000  197.00  197.00          1.0  3292693
       2018-01-04      0.0  202.1299  200.01  200.90          1.0  3844077
       2018-01-05      0.0  201.6700  199.31  201.00          1.0  4092553
       2018-01-08      0.0  203.0700  199.80  201.15          1.0  3594382

In [3]:
total = 0
orig_total = 0

for item in Stocks.index:
    price = stock.loc[(item, '2018-02-20')]['close']
    num = 0
    for stk in Stocks[item]:
        num += stk['num']
        orig_total += stk['num'] * stk['price']
    total += price * num
    print("{}: {} x {}".format(item, price, num))

print("Total: {} USD".format(total))
print("Original Total: {} USD".format(orig_total))
print("Capital gain: {} USD".format(total - orig_total))

BRK-B: 203.05 x 20
DEO: 139.03 x 35
GSK: 37.33 x 100
HDV: 86.63 x 117
KO: 43.99 x 250
LMT: 358.69 x 22
MO: 64.19 x 270
PG: 81.34 x 120
VDC: 139.89 x 7
WFC: 59.95 x 232
XLP: 54.34 x 212
Total: 95184.24999999999 USD
Original Total: 77973.48 USD
Capital gain: 17210.76999999999 USD